<div class="p-5 mb-3 bg-white border shadow-lg border-sky-500">
  <h2 class="mb-2 text-lg font-bold text-gray-800"><%= post.title %></h2>
  <p class="mt-2 text-gray-700"><%= post.text %></p>
  <p class="text-xs text-right text-gray-700">Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></p>
</div>
