<%= render partial: 'partials/post', locals: {post: @post}  %>
<% if @post.comments_counter > 0 %>
  <div class="p-5 mt-0 mb-3 bg-white border border-t-0 shadow-lg border-sky-500">
    <% @post.comments.each do |comment| %>
      <%= render partial: 'partials/comment', locals: { comment: comment }  %>
    <% end %>
  </div>
<% else %>
  <div class="mb-3"></div>
<% end %>
